html, body, table {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
textarea {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  resize: none;
}
table, th, td {
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
}
table {
  top: 0px;
  bottom: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
  table-layout: fixed;
}
img {
  /*If rem were to break, the original had 24 by 24*/
  height: 1.2rem;
  width:  1.2rem;
}
label {
  width:150px;
  float:left;
  font-weight: bold;
  /*Fix for silly bootstrap*/
  margin-bottom: inherit;
}
iframe {
  width: 100%;
  height: 100%;
}
key {
  text-decoration: underline;
  cursor: pointer;
  vertical-align: super;
  padding-left: 10px;
}
.half {
  height: 50%;
  width: 15% !important;
  vertical-align: top;
}
.colLeft {
  width: 15% !important;
}
.colRight {
  width: 85% !important;
}
.hidden {
  display: none;
}
.fakeHidden {
  opacity: 0;
}
div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}
div.progress {
  /*Cant seem to write an app without using cornflower blue*/
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
#banner {
  font-weight: bold;
  text-align: center;
}
#zecretCell {
  width: 85% !important;
  padding-top: 2px;
  padding-right: 2px;
  vertical-align: baseline;
}
